<a href="https://github.com/theonaunheim">
    <img style="border-radius: 100%; float: right;" src="static/strawberry_thief_square.png" width=10% alt="Theo Naunheim's Github">
</a>

<br style="clear: both">
<hr>
<br>


<br>
<h1 align='center'>Cleaning Solutions</h1>
<br>

---

# Exercise 1

### Load the 'greenway_analysis.xlsx' Excel file into a dataframe, and print information about its data types and general composition.

In [1]:
import pandas as pd


# Read excel
df = pd.read_excel('./data/greenway_analysis.xlsx')

# Get the dtypes information and print out first 5 elements
print(df.dtypes.head(5))

# Run the info function.
df.info()

gw_record_id       int64
rec              float64
seg              float64
greenway          object
main_greenway     object
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35407 entries, 0 to 35406
Data columns (total 30 columns):
gw_record_id       35407 non-null int64
rec                30509 non-null float64
seg                34753 non-null float64
greenway           35407 non-null object
main_greenway      35407 non-null object
type_code          35315 non-null object
type               35315 non-null object
own                33959 non-null object
season             35120 non-null object
date               35045 non-null datetime64[ns]
day                35115 non-null object
time               34921 non-null float64
hour               35100 non-null object
temp               0 non-null float64
air_quality        6441 non-null object
travelmode         8701 non-null object
travelmodevalue    8701 non-null float64
total              8701 non-null float64
gender             4856 non-null object
gendervalue        4852 non-null float64
race               4553 non-null object
racevalue          4553 non-null float64
age                6423 non-null object
agevalue           6423 non-null float64
groupsize          5727 non-null object
groupsizevalue     5727 non-null float64
avg_size           1233 non-null float64
segment_length     2540 non-null float64
facility_length    2533 non-null float64
date_year          35045 non-null float64
dtypes: datetime64[ns](1), float64(14), int64(1), object(14)
memory usage: 8.1+ MB

# Exercise 2

### Take the dataframe from the previous exercise, and drop all elements without a 'segment_length' or a 'facility_length'. Save this data into a new dataframe. Then fill the NaN values in 'groupsize' with the number 0.

In [2]:
# Use dropna with subset (and add a copy() to avoid view warnings)
df2 = df.dropna(subset=['segment_length', 'facility_length']).copy()

# Fill groupsize with 0.0
df2['groupsize'] = df2['groupsize'].fillna(0.0)

# Display
df2.head(3)

,gw_record_id,rec,seg,greenway,main_greenway,type_code,type,own,season,date,...,race,racevalue,age,agevalue,groupsize,groupsizevalue,avg_size,segment_length,facility_length,date_year
3,2462,NaN,43.0,Louis Stephens Path,Louis Stephens,P,Multi-use Path,TOC,Summer,2015-07-11,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.88,1.43,2015.0
12,2465,NaN,40.0,Nancy Branch,Nancy Branch,NaN,NaN,TOC,Summer,2015-06-21,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.10,1.10,2015.0
15,2467,NaN,47.0,New Hope Church Path,New Hope Church Path,P,Multi-use Path,TOC,Summer,2015-08-15,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.07,1.07,2015.0

# Exercise 3

### Find all rows with a 'main_greenway' value containing the word 'Trail'. Then get the value counts of this filtered row.

In [3]:
# Get the mask of trail
mask = df['main_greenway'].str.contains('Trail')

# Filter the df
df3 = df.loc[mask]

# Get the value counts
df3['main_greenway'].value_counts()

Oxxford Hunt Trail            832
NC 55 Multi-use Trail         457
KF Pvt East/West Trail        280
KF Pvt North/South Trail      273
Farmington Woods Trail Pvt    216
Name: main_greenway, dtype: int64

# Exercise 4

### Take the dataframe from Exercise 1 and use the 'date' column's .dt.to_period() method to create a monthly column. This increment this column by two months.

In [4]:
# Month column
df['month_period'] = df.date.dt.to_period('M')

# Increment two months
df['month_period_plus_2'] = df['month_period'] + 2

# Display and chop.
df[['date', 'month_period', 'month_period_plus_2']].head(5)

        date month_period month_period_plus_2
0 2015-07-11      2015-07             2015-09
1 2015-07-11      2015-07             2015-09
2 2015-07-11      2015-07             2015-09
3 2015-07-11      2015-07             2015-09
4 2015-07-11      2015-07             2015-09

# Exercise 5

### Take the dataframe from Exercise 1, and convert the 'gw_record_id' column to a string type. Then use the .str.zfill(10) to pad it with strings.

In [5]:
# Covert to string type
intermediate = df.gw_record_id.astype(str)

# THen run zfill
final = intermediate.str.zfill(10)

# Display
final.head(5)

0    0000002462
1    0000002462
2    0000002462
3    0000002462
4    0000002463
Name: gw_record_id, dtype: object