<a href="https://github.com/theonaunheim">
    <img style="border-radius: 100%; float: right;" src="static/strawberry_thief_square.png" width=10% alt="Theo Naunheim's Github">
</a>

<br style="clear: both">
<hr>
<br>

<h1 align='center'>Series Exercises</h1>

<br>

<div style="display: table; width: 100%">
    <div style="display: table-row; width: 100%;">
        <div style="display: table-cell; width: 50%; vertical-align: middle;">
            <h1 align="center"> $W=-\Delta PE$ </h1>
        </div>
        <div style="display: table-cell; width: 10%">
        </div>
        <div style="display: table-cell; width: 40%; vertical-align: top;">
            <blockquote>
                <p style="font-style: italic;">"Diligence is the mother of good fortune."</p>
                <br>
                <p>-Miguel de Cervantes</p>
            </blockquote>
        </div>
    </div>
</div>

<br>

<hr>

# Problem 1

* Import numpy and pandas as `np` and `pd`.


* Create a series from the './data/height_in_feet.csv' file using `pd.read_csv()`, and assign it to variable `height`.


* Display the first 10 items of `height` using `head()`.


* In a new cell, round each height to the nearest foot using the `round()` method and store the result to a variable called `rounded`.


* Display the first 10 items of `rounded` using `head()`.

<br>

**Hint**: Again, you will have to use `header=None` and `squeeze=True` to coerce your CSV to a Series.

**Hint**: `head()` defaults to 5, so you will need to supply a value of 10 as an argument.

In [ ]:
# Import under aliases
import numpy as np
import pandas as pd

# Create a height Series.
height = pd.read_csv(
    './data/height_in_feet.csv', 
    header=None, 
    squeeze=True
)

# Display the first 10 items of height
height.head(10)

In [ ]:
# Round the height series and store in rounded.
rounded = height.round()

# Display rounded first 10 items
rounded.head(10)

# Problem 2


* Get the count of each value in  in `rounded`, save it to a variable called `counts`, and display it.


* In the next cell, sort `counts` from tallest to shortest and store the result in a variable called `sorted_counts`.


* Print the number of people that are approximately 5 feet tall.


* Display `sorted_counts`.

<br>

**Hint**: Use `value_counts()` to get the count of values.

**Hints**: when using `loc[]` to get the number of people that are 5 feet tall, you can use `5`, but it would be better to use `5.0` as that's what's in the index.

**Hint**: Use `sort_index()` as opposed to `sort_values()` to sort by index values. You will need to pass an `ascending=False` argument to avoid the default.

In [ ]:
# Get the counts of the rounded values and assign to counts.
counts = rounded.value_counts()
counts

In [ ]:
# Get the counts of the rounded values and assign to counts.
sorted_counts = counts.sort_index(ascending=False)

# Print number of people that are 5 feet tall.
print('Number of people 5 feet tall: ', sorted_counts.loc[5.0])

# Display
sorted_counts

# Problem 3

A Pandas koan ...

The [canonical solution](https://stackoverflow.com/questions/23451244/how-to-zscore-normalize-pandas-column-with-nans) for getting Z scores in Pandas looks something like this:

    number_series = pd.Series([0, 1, 2, 3, 4, 5, 4, 3, 2, 1])
    z_scores    = (number_series - number_series.mean()) / number_series.std()

<br>

* How does `(number_series - number_series.mean()) / number_series.std()` work?

<br>


**Hint**: a [Z-score](https://en.wikipedia.org/wiki/Standard_score) is essentially the number of standard deviations from the mean.

The Z-score for each observation is calculated as:

## $z={(x-\mu) \over \sigma }$

where: 

* **x** is the observation

* **$\mu$** is the mean of the population.

* **$\sigma$** is the standard deviation of the population.



<br>

**Hint**: it has to do with the difference in behavior between vectors and scalars.

**Hint**: `(raw_numbers - raw_numbers.mean()) / raw_numbers.std()` two of these are scalars and one is a Series. Try breaking it into more steps/intermediates if unclear.

In [ ]:
# Displaying the series
number_series = pd.Series([0, 1, 2, 3, 4, 5, 4, 3, 2, 1])
number_series

In [ ]:
# This works because the results of .mean() and std() are scalars, while raw_numbers is a Series.
# Recall that when you do an operation with a scalar, it is done to each item in the Series.
number_series * 10

In [ ]:
# Both mean() and std() give us back scalars
mean_scalar  = round(number_seriess.mean(), 1)
stdev_scalar = round(number_series.std() , 1)

print(f'Mean is {mean_scalar} and stdev is {stdev_scalar}')

In [ ]:
# Which means our operations are basically this:
print(f'This means our formula:\n\n\traw_numbers - raw_numbers.mean() / raw_numbers.std()\n')

# Is functionally equivalent to
print(f'is the same as:\n\n\t (raw_numbers - {mean_scalar}) / {stdev_scalar}\n')

# Is functionally equivalent to
print(f'is the same as:\n\n\t raw_minus_mean / {stdev_scalar}\n')

In [ ]:
# So breaking this down ... we subtract the mean from the Series, yielding a new Series.
number_minus_mean_series = number_series - mean_scalar
number_minus_mean_series

In [ ]:
# We then divide that difference Series by another scalar yielding a new Series.
z_score_series = number_minus_mean_series / stdev_scalar
z_score_series

# Problem 4

In [80]:
lob = pd.read_csv('./data/lob_characters.csv', squeeze=True)
lob.head()

0                    Brian
1                      NaN
2    Centurion of the Yard
3                   Gaoler
4                      NaN
Name: characters, dtype: object

In [79]:
character_bix = lob.isin(['Gaoler', 'Judith Escariot', 5, True])
character_bix.head()

0    False
1    False
2    False
3     True
4    False
Name: characters, dtype: bool

In [81]:
lob.loc[character_bix]

3              Gaoler
8     Judith Escariot
14             Gaoler
Name: characters, dtype: object

In [83]:
null_bix = lob.isnull()
null_bix.head()

0    False
1     True
2    False
3    False
4     True
Name: characters, dtype: bool

In [85]:
useless_bix = lob == np.NaN
useless_bix.head()

0    False
1    False
2    False
3    False
4    False
Name: characters, dtype: bool

In [86]:
filled = lob.fillna('Unknown')
filled.head()

0                    Brian
1                  Unknown
2    Centurion of the Yard
3                   Gaoler
4                  Unknown
Name: characters, dtype: object

In [89]:
dropped_na = lob.dropna()
dropped_na_and_dupes = dropped_na.drop_duplicates()
dropped_na_and_dupes

0                     Brian
2     Centurion of the Yard
3                    Gaoler
5         Harry the Haggler
6                  Ex-Leper
7                   Gregory
8           Judith Escariot
9        Simon the Holy Man
10           Pontius Pilate
11                 Matthias
Name: characters, dtype: object

In [ ]:
dropped.to_excel('./data/dropped_na_and_dupes.xlsx')

# Problem 5

In [97]:
mixed = pd.read_csv('./data/mixed_bag.csv', squeeze=True)
mixed

0    2018-01-01
1             4
2           2.0
3    2019-01-01
4    12/31/2015
5           2.8
6         hola!
7           2.9
8           NaN
Name: hot_mess, dtype: object

In [99]:
mixed.dtype

dtype('O')

In [101]:
mixed_numeric = pd.to_numeric(mixed, errors='coerce')
mixed_numeric

0    NaN
1    4.0
2    2.0
3    NaN
4    NaN
5    2.8
6    NaN
7    2.9
8    NaN
Name: hot_mess, dtype: float64

In [103]:
mixed_datetime = pd.to_datetime(mixed, errors='coerce')
mixed_datetime

0   2018-01-01
1          NaT
2          NaT
3   2019-01-01
4   2015-12-31
5          NaT
6          NaT
7          NaT
8          NaT
Name: hot_mess, dtype: datetime64[ns]

In [106]:
mixed_string = mixed_numeric.astype(str)
mixed_string

0    nan
1    4.0
2    2.0
3    nan
4    nan
5    2.8
6    nan
7    2.9
8    nan
Name: hot_mess, dtype: object

# Problem 6

In [110]:
morse = pd.read_csv('./data/morse.csv', index_col='character')
morse.head()

          morse_representation
character
"                  . _ . . _ .
'                  . _ _ _ _ .
(                    _ . _ _ .
)                  _ . _ _ . _
+                    . _ . _ .

In [127]:
morse.set_index('morse_representation')
morse.reset_index().set_index('morse_representation')

                     character
morse_representation
. _ . . _ .                  "
. _ _ _ _ .                  '
_ . _ _ .                    (
_ . _ _ . _                  )
. _ . _ .                    +
_ _ . . _ _                  ,
_ . . . . _                  -
. _ . _ . _                  .
_ . . _ .                    /
_ _ _ _ _                    0
. _ _ _ _                    1
. . _ _ _                    2
. . . _ _                    3
. . . . _                    4
. . . . .                    5
_ . . . .                    6
_ _ . . .                    7
_ _ _ . .                    8
_ _ _ _ .                    9
_ _ _ . . .                  :
_ . _ . _ .                  ;
_ . . . _                    =
. . _ _ . .                  ?
. _ _ . _ .                  @
. _                          A
_ . . .                      B
_ . _ .                      C
_ . .                        D
.                            E
. . _ .                      F
_ _ .                        G
. . . .                      H
. .                          I
. _ _ _                      J
_ . _                        K
. _ . .                      L
_ _                          M
_ .                          N
_ _ _                        O
. _ _ .                      P
_ _ . _                      Q
. _ .                        R
. . .                        S
_                            T
. . _                        U
. . . _                      V
. _ _                        W
_ . . _                      X
_ . _ _                      Y
_ _ . .                      Z
. . _ _ . _                  _
_ . . _                      x

In [118]:
sample = morse.sample(frac=.25)
sample_ix = sample.index.values

In [120]:
morse.drop(sample_ix).head()

          morse_representation
character
'                  . _ _ _ _ .
(                    _ . _ _ .
+                    . _ . _ .
,                  _ _ . . _ _
-                  _ . . . . _

# Problem 7


* Load the data from './data/morse.csv' using `pd.read_csv()` with 'character' as an index column and `squeeze=True`. Assign the resulting Series to the variable `morse`.


* Display the morse object using `loc[]` from index 'A' to index 'B'.


* In a new cell, create a list from the string 'The rain in Spain falls mainly on the plain.' with one letter per list element. Store that list in variable `string_list`. Then feed this list into a Series, which you should call `string_series`. Display the first 10 items of this series.


* Define a function called `make_uppercase` that takes a single letter, and returns the upper case version of that letter. Then use the `map()` method of your string series to map your `make_uppercase()` function. Store the result to `function_mapped` and display the first 10 items.


* Then take your `function_mapped` series and use `map()` again, this time mapping values using a Series. Save the result to `series_mapped` and display the first 10 items.

<br>

**Note**: to specify an index column, use an `index_col` argument (e.g. `index_col='character'`)

**Note**: to split a string into a list, simply use the list constructor `list('Your string here')`.

**Note**: you are first creating a new Series based on a function mapping. You are then creating a new Series based on a  translation-table-like Series mapping.

**Note**: don't worry about the NaNs. Morse code does not have a representation for spaces. Because there's nothing to map, pandas fills these values with NaN.

In [71]:
# Load the character to morse code mapping
morse = pd.read_csv('./data/morse.csv', index_col='character', squeeze=True)

# Display letters A through Z.
morse.loc['A': 'Z']

character
A        . _
B    _ . . .
C    _ . _ .
D      _ . .
E          .
F    . . _ .
G      _ _ .
H    . . . .
I        . .
J    . _ _ _
K      _ . _
L    . _ . .
M        _ _
N        _ .
O      _ _ _
P    . _ _ .
Q    _ _ . _
R      . _ .
S      . . .
T          _
U      . . _
V    . . . _
W      . _ _
X    _ . . _
Y    _ . _ _
Z    _ _ . .
Name: morse_representation, dtype: object

In [72]:
# Create a list from the string, "The rain in Spain falls mainly on the plain."
string_list = list('The rain in Spain falls mainly on the plain.')

# Create a Series from that list
string_series = pd.Series(string_list)

# Display first 10.
string.head(10)

0    T
1    h
2    e
3
4    r
5    a
6    i
7    n
8
9    i
dtype: object

In [73]:
# Define a function to capitalize something
def make_uppercase(letter):
    return letter.upper()


# Map the make_uppercase function to the string and save to upper_string
function_mapped = string_series.map(make_uppercase)

# Display first 10
function_mapped.head(10)

0    T
1    H
2    E
3
4    R
5    A
6    I
7    N
8
9    I
dtype: object

In [74]:
# Map the morse code Series
series_mapped = function_mapped.map(morse)

# Display first 10
series_mapped.head(10)

0          _
1    . . . .
2          .
3        NaN
4      . _ .
5        . _
6        . .
7        _ .
8        NaN
9        . .
dtype: object

# Problem 8


* Load './data/salaries.csv' using `pd.read_csv()` and assign it to a variable called `salaries`. Load './data/professions.csv' and assign it to a cariable called `professions`.


* In a new cell, show the first 5 elements of `professions`.


* In a new cell, show the first 5 elements of `salaries`. What do you see?


* In a new cell, use `groupby()` to group `salaries` by `professions`. Assign the result to a variable called `gb`.


* In a new cell, get the median of your groupby object, and sort the values.


* In a new cell, get the count of your groupby object and sort the values.


<br>

**Hint**: you'll again have to use the `squeeze=True` argument for both Series.

**Hint**: you group one Series by another by using the `groupby()` method and passing the Series used for grouping to that method. For details, see the previous notebook.

**Hint**: the median of your groupby object is unsurprisingly obtained by using the `median()` method.

**Hint**: the count of your groupby object can be found using `size()`.

In [ ]:
# Load our Series.
salaries    = pd.read_csv('./data/salaries.csv', squeeze=True)
professions = pd.read_csv('./data/professions.csv', squeeze=True)

In [ ]:
# Show professions
professions.head()

In [ ]:
# Show salaries. There is no variablility around soldier salaries.
salaries.head()

In [ ]:
# Group salaries by profession
gb = salaries.groupby(professions)

In [ ]:
# Get the median salary
gb.median().sort_values()

In [ ]:
# Get the size of each group.
gb.size().sort_values()

# Problem 9


* Import matplotlib then import matplotlib.pyplot as `plt`.


* Set up Matplotlib to plot inline intead of in a separate window.


* Tell matplotlib to use 'fivethirtyeight' styling.


* In a new cell, plot a histogram of `height`. Use a `bins=25` argument.


* In a new cell, create a horizontal bar graph of `counts`. Pass a `title='Primitive Bar Chart'` and a `figsize=(10,10)` argument.


* In a new cell, Create a pie chart of `counts` with a `colors=['teal', 'gray', 'white']` argument. Save a .png of the graph to './data/pie_chart.png'.

<br>

**Hint**: `%matplotlib inline` is the cell magic used to show a graph in the notebook.

**Hint**: `matplotlib.style.use('fivethirtyeight')` will set up fivethirtyeight styling.

**Hint**: horizontal graphs can be generated with `plot.barh()`. Pie charts can be done via `plot.pie()`. Histograms can be created with `plot.hist()`

**Hint**: you can output your most recent figure using `plt.savefig()`.

**Hint**: you will want to plot each plot in a separate cell so you don't overwrite your previous graphs.

In [ ]:
# Use cell magic to print inline
import matplotlib
import matplotlib.pyplot as plt

%matplotlib inline
matplotlib.style.use('fivethirtyeight')

In [ ]:
# Histogram with 25 bins.
height.plot.hist(bins=25)

In [ ]:
# Plot counts as horizontal bar chart
counts.plot.barh(
    title='Primitive Bar Chart', 
    figsize=(10, 5)
)

In [ ]:
# Plot counts as a pie chart.
counts.plot.pie(colors=['teal', 'gray', 'white'])

# Output to pie_chart.png
plt.savefig('./data/pie_chart.png')

# Problem 10


* Load the data from './data/unemployment.csv' using `squeeze=True` and `index_col='month'` arguments. Assign the data to a `unemployment`. Display the first 10 items of `unemployment`.


* In a new cell, create a rolling object with a window of 12 observations and assign it to the name `rolling`.


* In a new cell, get the rolling mean of your `rolling` object and assign it to `rmean`. Plot `rmean` using the default line chart and then display the last 12 items of the `rmean` series.


* In a new cell, get the rolling max of your `rolling` object and assign it to `rmax`. Plot `rmax` using the default line chart and then display the last 12 items of the `rmax` series.


* Take the `rmean` series and write it to './data/rolling.csv'.

<br>


**Hint**: `index_col` allows you to specify which column will be used as an index for your Series/DataFrame.

**Hint**: `rolling()` takes the number of observations used for the window as it's first argument. E.G. if you have a Series indexed on month, and you want the rolling observation for the previous 18 months, you would do `rolling = old_series.rolling(18)`. 

**Hint**: a method from a rolling object will give you a new Series.

**Hint**: `plot()` defaults to a basic line chart, so you can just plot without any arguments.

**Hint**: even if you `plot()`, you can still display the last item of the cell.

In [ ]:
# Load unemployment data
unemployment = pd.read_csv('./data/unemployment.csv', squeeze=True, index_col='month')
unemployment.head(10)

In [ ]:
# Rolling
rolling = unemployment.rolling(window=12)

In [ ]:
# Generate rolling average, plot, and display last 12.
rmean = rolling.mean()
rmean.plot()
rmean.tail(12)

In [ ]:
# Generate rolling max, plot, and display last 12.
rmax = rolling.max()
rmax.plot()
rmax.tail(12)

In [ ]:
# Write rolling 12 month mean to CSV
rmean.to_csv('./data/rolling.csv')

---

# Next Up: [Series Part 2 Solutions](5_series_part_2_solutions.ipynb)

<br>

<h1 align="left"> $W=-\Delta PE$ </h1>

<br>

---